.version.index /* version checker */
{
	color: #0000E5;
	background-color: #6751A6;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 1536px;
	background-image: none;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	border-width: 1px 1px 0px 0px;
}

#page_position_content
{
	padding-bottom: 63px;
	width: 0.01px;
}

#u204
{
	z-index: 278;
	width: 1920px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 3px 0px 8px rgba(0,0,0,0.075);
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -960px;
}

#slideshowu125
{
	z-index: 247;
	width: 0.01px;
	height: 768px;
	left: -100px;
	position: relative;
}

#u126
{
	position: absolute;
	width: 1140px;
	height: 768px;
	background-color: transparent;
}

#u126popup
{
	z-index: 248;
}

#u131
{
	z-index: 249;
	width: 1140px;
	height: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u179
{
	z-index: 251;
	width: 1140px;
	height: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u146
{
	position: absolute;
	width: 450px;
	background-color: transparent;
	top: 168px;
	left: 160px;
}

#u146popup
{
	z-index: 253;
}

#u149-7
{
	z-index: 254;
	width: 430px;
	min-height: 175px;
	border-style: none;
	border-color: transparent;
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 2px;
	color: #000000;
	text-align: center;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/text.png") repeat left top;
}

#u149-3
{
	font-size: 48px;
	line-height: 67px;
}

#u149-2
{
	font-family: poiret-one, sans-serif;
	font-weight: 400;
}

#u149-5
{
	font-size: 37px;
	line-height: 52px;
}

#u185-5
{
	z-index: 261;
	width: 430px;
	min-height: 175px;
	border-style: none;
	border-color: transparent;
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 2px;
	color: #000000;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/text.png") repeat left top;
}

#u185
{
	font-size: 48px;
	text-align: left;
	line-height: 67px;
}

#u185-3
{
	font-size: 37px;
	text-align: center;
	line-height: 52px;
}

#u150-4
{
	position: absolute;
	width: 48px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	top: 629px;
	left: 561px;
	background: transparent url("../images/text.png") no-repeat left top;
}

#u150-4popup
{
	z-index: 266;
}

#u134-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	top: 629px;
	left: 530px;
	background: transparent url("../images/text.png") no-repeat left top;
}

#u134-4popup
{
	z-index: 270;
}

#u145-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	top: 629px;
	left: 630px;
	background: transparent url("../images/text.png") no-repeat left top;
}

#u145-4popup
{
	z-index: 274;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#top
{
	left: -93px;
	top: -768px;
	margin-bottom: -18px;
	position: relative;
}

#u255
{
	z-index: 279;
	width: 80px;
	height: 80px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 0px;
	left: 430px;
	background: transparent url("../images/icon-1.svg") no-repeat left top;
	background-size: cover;
}

.nosvg #u255
{
	background-image: url('../images/icon-1_poster_u256.png');
}

#menuu205
{
	z-index: 280;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -300px;
}

#u213
{
	width: 118px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u216
{
	width: 118px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u219-4
{
	width: 118px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u216:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u216:hover #u219-4 p
{
	color: #F15A24;
	visibility: inherit;
}

#u241
{
	width: 118px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u242
{
	width: 118px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u244-4
{
	width: 118px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u216.MuseMenuActive #u219-4,#u242:hover #u244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u242:hover #u244-4 p
{
	color: #F15A24;
	visibility: inherit;
}

#u234
{
	width: 118px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u235
{
	width: 118px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u216.MuseMenuActive,#u242.MuseMenuActive,#u235.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u237-3
{
	width: 118px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u242.MuseMenuActive #u244-4,#u235:hover #u237-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u235.MuseMenuActive #u237-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u235:hover #u237-3 p
{
	color: #F15A24;
	visibility: inherit;
}

#u227
{
	width: 119px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u228
{
	width: 119px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u230-4
{
	width: 119px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u228:hover #u230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u228:hover #u230-4 p
{
	color: #F15A24;
	visibility: inherit;
}

#u220
{
	width: 119px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u221
{
	width: 119px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u228.MuseMenuActive,#u221.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u223-4
{
	width: 119px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u228.MuseMenuActive #u230-4,#u221:hover #u223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u221.MuseMenuActive #u223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u221:hover #u223-4 p
{
	color: #F15A24;
	visibility: inherit;
}

#u216.MuseMenuActive #u219-4 p,#u242.MuseMenuActive #u244-4 p,#u235.MuseMenuActive #u237-3 p,#u228.MuseMenuActive #u230-4 p,#u221.MuseMenuActive #u223-4 p
{
	color: #000000;
	visibility: inherit;
}

#u521
{
	z-index: 159;
	width: 1920px;
	height: 805px;
	position: fixed;
	top: 769px;
	left: -490px;
	background: transparent url("../images/muwhite.jpg") repeat left top;
}

#about
{
	position: relative;
}

#u296
{
	z-index: 161;
	width: 55px;
	height: 53px;
	background-color: #29ABE2;
	border-radius: 89px;
	position: fixed;
	top: 783px;
	left: 83px;
}

#u299
{
	z-index: 160;
	width: 177px;
	height: 175px;
	background-color: #FFCC33;
	border-radius: 80px;
	position: fixed;
	top: 783px;
	left: 95px;
}

#pu302
{
	width: 0.01px;
	margin-left: 225px;
	margin-top: -3px;
}

#u302
{
	z-index: 162;
	width: 81px;
	height: 80px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 486px;
}

#u295
{
	z-index: 163;
	width: 53px;
	height: 50px;
	background-color: #FFCC33;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 540px;
}

#u300
{
	z-index: 164;
	width: 202px;
	height: 5px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
}

#u297
{
	z-index: 165;
	width: 222px;
	height: 5px;
	background-color: #FFCC33;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 39px;
}

#u298-4
{
	z-index: 183;
	width: 429px;
	min-height: 79px;
	background-color: transparent;
	line-height: 68px;
	color: #42410B;
	font-size: 57px;
	letter-spacing: 14px;
	font-family: chunk, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 66px;
}

#u301-4
{
	z-index: 187;
	width: 136px;
	min-height: 30px;
	background-color: transparent;
	line-height: 36px;
	color: #42410B;
	font-size: 30px;
	letter-spacing: 7px;
	font-family: poiret-one, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,50,86);
	-ms-transform: matrix(0,-1,1,0,50,86);
	transform: matrix(0,-1,1,0,50,86);
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: -38px;
}

#slideshowu346
{
	z-index: 191;
	width: 0.01px;
	height: 315px;
	margin-left: 22px;
	margin-top: 17px;
	position: relative;
}

#u359
{
	position: absolute;
	width: 631px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -2px;
	left: 968px;
	-pie-background: rgba(0,0,0,0.9);
}

#u359popup
{
	z-index: 192;
}

#u360
{
	z-index: 193;
	width: 587px;
	height: 439px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u360_img
{
	padding: 38px 48px 81px 59px;
}

#u409
{
	z-index: 195;
	width: 587px;
	height: 439px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u418
{
	z-index: 197;
	width: 587px;
	height: 439px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u418_img
{
	padding: 46px 54px 73px 53px;
}

#u427
{
	z-index: 199;
	width: 587px;
	height: 439px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u409_img,#u427_img
{
	padding: 60px 53px 59px 54px;
}

#u349
{
	position: absolute;
	width: 413px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 23px;
}

#u349popup
{
	z-index: 201;
}

#u354
{
	z-index: 202;
	width: 176px;
	height: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u412
{
	z-index: 204;
	width: 176px;
	height: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u354:hover,#u412:hover
{
	width: 176px;
	height: 141px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u421
{
	z-index: 206;
	width: 176px;
	height: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 25px;
}

#u430
{
	z-index: 208;
	width: 176px;
	height: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 211px;
}

#u421:hover,#u430:hover
{
	width: 176px;
	height: 141px;
	min-height: 0px;
	margin: 151px -10000px 0px 0px;
}

#u354_clip,#u412_clip,#u421_clip,#u430_clip
{
	overflow: hidden;
	width: 176px;
	height: 141px;
}

#u354_img,#u412_img,#u421_img,#u430_img
{
	margin-left: -18px;
	margin-right: -18px;
}

#u367
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 407px;
	left: 1129px;
}

#u367popup
{
	z-index: 210;
}

#u368-4
{
	z-index: 211;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u415-4
{
	z-index: 215;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u424-4
{
	z-index: 219;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u433-4
{
	z-index: 223;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u347-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 243px;
	left: 968px;
}

#u347-4popup
{
	z-index: 227;
}

#u356-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 243px;
	left: 1578px;
}

#u356-4popup
{
	z-index: 231;
}

#u348-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: antic-slab, sans-serif;
	font-weight: 400;
	top: 462px;
	left: 1284px;
}

#u348-4popup
{
	z-index: 235;
}

#pu311-4
{
	width: 0.01px;
	margin-left: 505px;
	margin-top: -317px;
}

#u311-4
{
	z-index: 166;
	width: 74px;
	min-height: 88px;
	background-color: transparent;
	line-height: 84px;
	color: #2A2A2A;
	font-size: 70px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u310-4
{
	z-index: 179;
	width: 362px;
	min-height: 167px;
	background-color: transparent;
	line-height: 28px;
	color: #000000;
	font-size: 23px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 67px;
}

#pu472-4
{
	width: 0.01px;
	margin-left: 631px;
	margin-top: -71px;
}

#u472-4
{
	z-index: 239;
	width: 61px;
	min-height: 37px;
	background-color: transparent;
	line-height: 70px;
	color: #000000;
	font-size: 58px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u489-4
{
	z-index: 243;
	width: 130px;
	min-height: 106px;
	background-color: transparent;
	line-height: 101px;
	font-size: 84px;
	font-family: chunk, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#pu313-4
{
	width: 0.01px;
	margin-left: 425px;
	margin-top: -8px;
}

#u313-4
{
	z-index: 175;
	width: 61px;
	min-height: 85px;
	background-color: transparent;
	line-height: 86px;
	color: #2A2A2A;
	font-size: 72px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u312-5
{
	z-index: 170;
	width: 454px;
	min-height: 176px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 61px;
}

#u316
{
	z-index: 114;
	width: 1920px;
	height: 768px;
	position: fixed;
	top: 1575px;
	left: -490px;
	background: #FFFFFF url("../images/jp_gmfu_autumn-at-mount-fuji_11.jpg") no-repeat center center;
	background-size: cover;
}

#stories
{
	left: -144px;
	margin-top: 6px;
	position: relative;
}

#pu568-4
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 34px;
}

#u568-4
{
	z-index: 115;
	width: 464px;
	min-height: 62px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #2A2A2A;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 324px;
}

#u953
{
	z-index: 119;
	width: 808px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

#u534
{
	z-index: 120;
	width: 808px;
	min-height: 453px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u536
{
	z-index: 121;
	width: 291px;
	min-height: 453px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/raw-sushi-1320562.jpg") no-repeat center center;
}

#u570-8
{
	z-index: 122;
	width: 198px;
	min-height: 179px;
	position: relative;
	margin-right: -10000px;
	left: 675px;
	background: #FFFFFF url("../images/story-square.png") no-repeat right top;
}

#u570
{
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	padding-top: 3px;
	color: #42410B;
}

#u570-3
{
	font-size: 90px;
	text-align: left;
	line-height: 108px;
	text-indent: -1px;
	padding-left: 23px;
	color: #CC543A;
}

#u570-6
{
	font-size: 19px;
	text-align: left;
	text-indent: -1px;
	padding-left: 23px;
	color: #F7931E;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u570-4
{
	font-size: 25px;
	line-height: 30px;
}

#u570-5
{
	font-size: 30px;
	color: #2A2A2A;
	line-height: 36px;
}

#u563-9
{
	z-index: 130;
	width: 331px;
	min-height: 67px;
	background-color: transparent;
	letter-spacing: 3px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 259px;
}

#u563-3
{
	font-size: 25px;
	color: #CC543A;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u563
{
	font-size: 41px;
	line-height: 49px;
}

#u563-2
{
	line-height: 30px;
}

#u563-7
{
	font-size: 21px;
	line-height: 25px;
	color: #2A2A2A;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u563-5
{
	font-weight: bold;
}

#u643
{
	z-index: 139;
	width: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 14px;
}

#u642
{
	z-index: 144;
	width: 29px;
	height: 26px;
	position: relative;
	background: transparent url("../images/star-1-u642-fr.png") no-repeat left top;
	background-size: contain;
}

#u641
{
	z-index: 143;
	width: 29px;
	height: 26px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/star-1-u642-fr.png") no-repeat left top;
	background-size: contain;
}

#u640
{
	z-index: 142;
	width: 29px;
	height: 26px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/star-1-u642-fr.png") no-repeat left top;
	background-size: contain;
}

#u639
{
	z-index: 141;
	width: 29px;
	height: 26px;
	margin-top: 7px;
	position: relative;
	background: transparent url("../images/star-1-u642-fr.png") no-repeat left top;
	background-size: contain;
}

#u632
{
	z-index: 140;
	width: 29px;
	height: 26px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/star-1-u642-fr.png") no-repeat left top;
	background-size: contain;
}

#u821
{
	z-index: 145;
	width: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 70px;
}

#u645-4
{
	z-index: 146;
	width: 209px;
	min-height: 51px;
	background-color: transparent;
	font-size: 41px;
	line-height: 49px;
	color: #888888;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1px;
}

#u617-4
{
	z-index: 150;
	width: 209px;
	min-height: 51px;
	background-color: transparent;
	font-size: 41px;
	line-height: 49px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u646
{
	z-index: 81;
	width: 1920px;
	height: 768px;
	position: fixed;
	top: 2343px;
	left: -490px;
	background: #FFFFFF url("../images/japan-1093971_1920.jpg") no-repeat center top;
	background-size: cover;
}

#gallery
{
	left: -217px;
	margin-top: 158px;
	position: relative;
}

#pamphletu713
{
	z-index: 82;
	width: 0.01px;
	height: 150px;
	margin-left: 337px;
	margin-top: 64px;
	position: relative;
}

#u727
{
	z-index: 83;
	width: 503px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u729
{
	position: absolute;
	width: 143px;
	height: 143px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	border-radius: 100px;
	top: 6px;
	left: 358px;
	background: #DEDEDE url("../images/slidshow10.jpg") no-repeat left top;
	background-size: contain;
}

#u729:hover
{
	border-color: #999999;
	width: 143px;
	height: 143px;
	min-height: 0px;
	margin: 0px;
	background: #DEDEDE url("../images/slidshow02.jpg") no-repeat left top;
	background-size: contain;
}

#u728
{
	position: absolute;
	width: 143px;
	height: 143px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-radius: 100px;
	top: 6px;
	background: #999999 url("../images/slidshow09.jpg") no-repeat left top;
	background-size: contain;
}

#u732
{
	position: absolute;
	width: 143px;
	height: 143px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-radius: 100px;
	left: 179px;
	background: #999999 url("../images/slidshow1.jpg") no-repeat left top;
	background-size: contain;
}

#u728:hover,#u732:hover
{
	border-color: #6B6B6B;
	width: 143px;
	height: 143px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/slidshow02.jpg") no-repeat left top;
	background-size: contain;
}

#u718
{
	position: absolute;
	width: 665px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 148px;
	left: -49px;
	-pie-background: rgba(0,0,0,0.9);
}

#u718popup
{
	z-index: 87;
}

#u719
{
	z-index: 88;
	width: 621px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u720-4
{
	z-index: 89;
	width: 611px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #1A1A1A;
	padding-left: 10px;
	padding-top: 10px;
	line-height: 20px;
	color: #DEDEDE;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
}

#u723
{
	z-index: 93;
	width: 621px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u724-4
{
	z-index: 94;
	width: 610px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #151515;
	padding-left: 10px;
	padding-top: 10px;
	line-height: 20px;
	color: #DEDEDE;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 1px;
}

#u733
{
	z-index: 98;
	width: 621px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u725
{
	position: absolute;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	padding-bottom: 225px;
	top: 170px;
	left: -67px;
}

#u726-4
{
	z-index: 100;
	width: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 10px;
}

#u714
{
	position: absolute;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	padding-bottom: 225px;
	top: 170px;
	left: 593px;
}

#u725:hover,#u714:hover
{
	background-color: #6B6B6B;
	width: 40px;
	min-height: 0px;
	margin: 0px;
}

#u715-4
{
	z-index: 105;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u726-2,#u715-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u726,#u715
{
	font-size: 16px;
	line-height: 16px;
}

#u716
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 175px;
	left: 558px;
}

#u716:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u716:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u717-4
{
	z-index: 110;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u824
{
	z-index: 2;
	width: 1920px;
	height: 888px;
	position: fixed;
	top: 3111px;
	left: -490px;
	background: transparent url("../images/hokaido-956682_960_720.jpg") no-repeat left top;
	background-size: cover;
}

#content
{
	left: -217px;
	margin-top: 536px;
	position: relative;
}

#pu836-5
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 39px;
}

#u836-5
{
	z-index: 3;
	width: 366px;
	min-height: 111px;
	background-color: transparent;
	line-height: 71px;
	color: #FFFFFF;
	font-size: 63px;
	text-align: center;
	font-family: chunk, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#u836-3
{
	padding-top: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u836
{
	font-size: 89px;
	line-height: 101px;
}

#u836-2
{
	line-height: 71px;
}

#u857
{
	z-index: 71;
	width: 27px;
	height: 26px;
	background-color: #CC543A;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 52px;
}

#u858
{
	z-index: 72;
	width: 61px;
	height: 57px;
	background-color: #FFCC33;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#widgetu839
{
	z-index: 8;
	width: 0.01px;
	height: 356px;
	margin-left: 33px;
	margin-top: 35px;
	position: relative;
}

#widgetu846
{
	z-index: 9;
	width: 342px;
	height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: -1px;
}

#widgetu846.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 32px;
	min-height: 0px;
	margin: 29px -10000px 0px 0px;
}

#u848-4
{
	z-index: 10;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu846.non-empty-st #u848-4
{
	background-color: #FFFFFF;
}

#widgetu846:hover #u848-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu846.focus-st #u848-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu846.non-empty-st #u848-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu846:hover #u848-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu846.focus-st #u848-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u847-4
{
	z-index: 14;
	width: 20px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	color: #ED1C24;
	font-size: 28px;
	text-align: right;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 317px;
}

#widgetu850
{
	z-index: 18;
	width: 342px;
	height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: -1px;
}

#widgetu850.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 32px;
	min-height: 0px;
	margin: 89px -10000px 0px 0px;
}

#u853-4
{
	z-index: 19;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu850.non-empty-st #u853-4
{
	background-color: #FFFFFF;
}

#widgetu850:hover #u853-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu850.focus-st #u853-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu846.fld-err-st #u848-4,#widgetu850.fld-err-st #u853-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu850.non-empty-st #u853-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu850:hover #u853-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu850.focus-st #u853-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u852-4
{
	z-index: 23;
	width: 20px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	color: #ED1C24;
	font-size: 28px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 317px;
}

#widgetu846.fld-err-st #u847-4,#widgetu850.fld-err-st #u852-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 20px;
	margin: 4px -10000px 0px 0px;
}

#u845-4
{
	z-index: 27;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#widgetu839.frm-sub-st #u845-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u855-4
{
	z-index: 31;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#widgetu839.frm-sub-st #u845-4,#widgetu839.frm-subm-err-st #u855-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu839.frm-subm-err-st #u855-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u854-4
{
	z-index: 35;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#widgetu839.frm-subm-ok-st #u854-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 26px;
}

#widgetu839.frm-subm-ok-st #u854-4 p
{
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
}

#u840-17
{
	z-index: 39;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	background: url("../images/u840-17.png") no-repeat 0px 0px;
}

#u840-17:hover
{
	background: url("../images/u840-17-r.png") no-repeat 0px 0px;
}

#u840-17:active
{
	background: url("../images/u840-17-m.png") no-repeat 0px 0px;
}

#widgetu839.frm-sub-st #u840-17
{
	background: url("../images/u840-17-fs.png") no-repeat 0px 0px;
}

#widgetu841
{
	z-index: 56;
	width: 342px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: -1px;
}

#widgetu841.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 82px;
	min-height: 0px;
	margin: 149px -10000px 0px 0px;
}

#u842-4
{
	z-index: 57;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu841.non-empty-st #u842-4
{
	background-color: #FFFFFF;
}

#widgetu841:hover #u842-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu841.focus-st #u842-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu841.fld-err-st #u842-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu841.non-empty-st #u842-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu841:hover #u842-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu841.focus-st #u842-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu841_input,#widgetu841_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu933
{
	z-index: 61;
	width: 342px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: -1px;
}

#widgetu933.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 145px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u934-4
{
	z-index: 62;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 18px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
}

#widgetu933.non-empty-st #u934-4
{
	background-color: #FFFFFF;
}

#widgetu933:hover #u934-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 113px -10000px 0px 0px;
}

#widgetu933.focus-st #u934-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 113px -10000px 0px 0px;
}

#widgetu933.fld-err-st #u934-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 113px -10000px 0px 0px;
}

#widgetu933.non-empty-st #u934-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu933:hover #u934-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu933.focus-st #u934-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu846.fld-err-st #u848-4 *,#widgetu850.fld-err-st #u853-4 *,#widgetu841.fld-err-st #u842-4 *,#widgetu933.fld-err-st #u934-4 *
{
	color: #D7244C;
	font-style: italic;
}

#u936-4
{
	z-index: 66;
	width: 20px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	color: #ED1C24;
	font-size: 28px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#widgetu933.fld-err-st #u936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu846.fld-err-st #u847-4 p,#widgetu850.fld-err-st #u852-4 p,#widgetu933.fld-err-st #u936-4 p
{
	color: #D7244C;
}

#u937
{
	position: relative;
	width: 151px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 1px;
}

#widgetu846_input,#widgetu846_prompt,#widgetu850_input,#widgetu850_prompt,#widgetu933_input,#widgetu933_prompt
{
	width: 328px;
	min-height: 18px;
	color: #C4C4C4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu846:hover #widgetu846_input,#widgetu846.focus-st #widgetu846_input,#widgetu846.fld-err-st #widgetu846_input,#widgetu846:hover #widgetu846_prompt,#widgetu846.focus-st #widgetu846_prompt,#widgetu846.fld-err-st #widgetu846_prompt,#widgetu850:hover #widgetu850_input,#widgetu850.focus-st #widgetu850_input,#widgetu850.fld-err-st #widgetu850_input,#widgetu850:hover #widgetu850_prompt,#widgetu850.focus-st #widgetu850_prompt,#widgetu850.fld-err-st #widgetu850_prompt,#widgetu841:hover #widgetu841_input,#widgetu841.focus-st #widgetu841_input,#widgetu841.fld-err-st #widgetu841_input,#widgetu841:hover #widgetu841_prompt,#widgetu841.focus-st #widgetu841_prompt,#widgetu841.fld-err-st #widgetu841_prompt,#widgetu933:hover #widgetu933_input,#widgetu933.focus-st #widgetu933_input,#widgetu933.fld-err-st #widgetu933_input,#widgetu933:hover #widgetu933_prompt,#widgetu933.focus-st #widgetu933_prompt,#widgetu933.fld-err-st #widgetu933_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu846.non-empty-st #widgetu846_prompt,#widgetu850.non-empty-st #widgetu850_prompt,#widgetu841.non-empty-st #widgetu841_prompt,#widgetu933.non-empty-st #widgetu933_prompt
{
	visibility: hidden;
}

#u931
{
	z-index: 73;
	width: 407px;
	min-height: 310px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 487px;
	top: -339px;
	margin-bottom: -310px;
	position: relative;
}

#u950
{
	z-index: 74;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1126px;
	position: relative;
}

#u947
{
	z-index: 75;
	width: 40px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #FFCC33;
	position: relative;
	margin-right: -10000px;
}

#u948
{
	z-index: 76;
	width: 18px;
	height: 17px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 8px;
	border-width: 5px 5px 0px 0px;
}

.js #u204.ose_pre_init,.js #u255.ose_pre_init,.js #menuu205.ose_pre_init,.js #u947.ose_pre_init,.js #u948.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u951-4
{
	z-index: 77;
	width: 560px;
	min-height: 48px;
	background-color: transparent;
	line-height: 37px;
	color: #FFFFFF;
	font-size: 31px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 190px;
	margin-top: 178px;
	position: relative;
}

body
{
	position: relative;
	min-width: 941px;
}

#page .verticalspacer
{
	clear: both;
}

